# node / next
node_modules
.next
npm-debug.log
yarn.lock
pnpm-lock.yaml

# vcs / editor
.git
.gitignore
.idea
.vscode

# docker / env
Dockerfile
docker-compose*.yml
.env*
!.env.production  # 允许生产环境变量文件带进镜像/compose（按需）
